<header>
    <div class="mini-navbar-wrap">
        <div class="logo-wrap">
            <img src="download.jfif">
            <p class="logo"><a routerLink="/home">MTB</a></p>
        </div>
        <div class="mini-navbar">
            <ul>
                
                <li>
                    <a routerLink="/mostPopular">Most Popular</a>
                </li>
                @if (isLoggedIn()) {
                   
                    @if(isAdmin()) {
                        <li>
                            <a routerLink="/add-bike">Add New Bike</a>
                        </li>
                    }
                <li>
                    <a routerLink="/my-rides">My Rides</a>
                </li>
                <li>
                    <a routerLink="/bikes">more bikes</a>
                </li>
                <li>
                    <!-- /:{{ currentUser()?.id }}" -->
                    <a routerLink="/profile">{{ currentUser()?.username }}'s profile</a> 
                </li>
                <li>
                    <a href="#" (click)="logout()">Logout</a>
                </li>
                } @else {
                <li>
                    <a routerLink="/login">Login</a>
                </li>
                <li>
                    <a routerLink="/register">Register</a>
                </li>
                }
            </ul>
        </div>
    </div>
   
</header>

