.welcome {

    text-align: center;
    padding: 2rem;

    min-height: 76vh;
    /* position:; */
    align-content: center;

}

.welcome h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    /* color: #666; */
    color: #fafafa;
    /* color: rgb(95, 187, 76); */
    font-weight: 400;
}

.welcome p {
    font-size: 1.4rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    color: #fafafa;
    /* color: rgb(62, 143, 42); */
    font-weight: 400;
    
}

.logged ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.logged li a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1.5rem;
    background-color: rgba(73, 72, 72, 0.9);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.logged li a:hover {
    background-color: rgba(116, 114, 114, 0.7);
}

.logged li a i {
    font-size: 1.1rem;
}
