.mainbox {
    /* margin: auto; */
    margin-top: 3.1rem;
    margin-left: 23rem;
    height: 400px;
    width: 500px;
    position: relative;
}

.err {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 5rem;
    position: absolute;
    left: 20%;
    top: 8%;
}

.far {
    position: absolute;
    font-size: 3.5rem;
    left: 42%;
    top: 15%;
    color: #ffffff;
}

.err2 {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 5rem;
    position: absolute;
    left: 68%;
    top: 8%;
}

.msg {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.3rem;
    position: absolute;
    left: 16%;
    top: 40%;
    width: 75%;
    color: #ffffff;
}

.msg a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.msg a:hover {
    text-decoration: underline;
}