@if (isLoggedIn()) {
    <div class="welcome"> 
        <div class="container">
            <main>
                <div class="bike-title">
                
                    @for (bike of bikes$ | async; track bike.id) {
                    <app-bike-item [bike]="bike"></app-bike-item>
                    }
                    @empty {
                        <p>Loading elements...</p>
                        }
                </div>
            </main>
        </div>
    </div>
    }
    
   
