@import url('reset.css');
@import url('layout.css');
@import url('typography.css');
@import url('responsive.css');
@import url(images);

html{
    /* font-size: 16px; */
    /* font-family: 'Open Sans', sans-serif; */
    /* color: #333; */
    /* scroll-behavior: smooth; */
}


body {
    max-width: 100%;
    margin: 0, auto;
    position: relative;
    min-height: 100vh;
    font-optical-sizing: auto;
    background-color: #e4e3e3;
    background-image: url('images/Mountainbiken\ am\ Kitzsteinhorn_\(C\)Kitzsteinhorn.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;


}

.container {
    width: 90%;
    margin: auto;
    padding-bottom: 4.5em;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

h2 {
    text-align: center;
    border-bottom: 1px dashed #999;
}

span {
    font-weight: bold;
}

button {
    /* background-color: #4ebced; */
    color: white;
}

button:hover {
    cursor: pointer;
}

/* header  */

header {
   min-width: 100%;
    background:#454b52;
    /* background-color: rgba(73, 72, 72, 0.1); */
    position: sticky;
    top: 0%;
;
}

header ul {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin: auto;

}

header ul span {
    color: white;
    padding: 0.5em;
}



header li {
    list-style: none;
    margin: .35em;
    padding: 0 .95em;
    /* background-color: #ff9f00; */
    width: 15vw;
    text-align: center;
    border-radius: 20px;
    /* text-shadow: 1px 1px rgb(87, 86, 86); */
    text-shadow: 1px 1px black;
}

header li:hover {
    scale: 1.1;
}

header a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}


.logo  {
    font-size: 2em;
    color: #FFF; 
    padding-bottom: 0;
    text-align: center;
    /* margin-left: 8em; */
    text-shadow: 1px 1px black;
}

.logo-wrap {
display: flex;
align-items: center;
justify-content: center;
margin: 0.5em 0;
}

.logo-wrap > a > img {
    height: 10vh;
    margin-right: 3vw;
    margin-left: -4vw;
    border-radius: 100%;   
}

.mini-navbar-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}


.mini-navbar ul {
  /* margin-bottom: 40px; */
  /* margin-right: -50px; */
  /* margin-left: 6em; */
  margin-right: 1em;
  /* margin: 1em; */
}

.mini-navbar ul li {
    background-color: #acaba9;
    width: 11vw;
    text-align: center;
    padding: 3px;
    border-radius: 20px;
    /* text-shadow: 1px 1px rgb(95, 94, 94); */
    text-shadow: 1px 1px black;
}
.mini-navbar ul li:hover{
    scale: 1.1;
    
}
/* main  */

main {
    width: 50%;
}

/* theme list item */
.theme-container h1 {
    text-align: center;
}

.theme-container a {
    text-decoration: none;
    color: inherit;
}

.theme-container span {
    font-weight: bold;
}

.theme-container h2, p {
    padding: 0.3em 0 0.2em;
    margin: 0;
}
.theme-container h2 {
    padding: 0.3em 0 0.2em;
    margin: 0;
    /* background-color: #234465; */
    color: white;
    text-shadow: 1px 1px rgb(121, 117, 117);
    border-radius: 10px;
}
.theme-name-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3em 0.5em;
    border: 1px solid #999;
    border-radius: 0.3em;
    font-size: 0.8em;
    margin-top: 1em;
    /* background-color: #272625d7; */
    /* opacity: 0.5; */
    background-color: rgba(73, 72, 72, 0.1);
    
}

.theme-title {
    padding: 0;
}

.theme-name {
    width: 100%;

}

.columns {
    img{
        width: 100%;
        height: auto;
        border-radius: 0.2em;
        margin: 1em, auto;
    }
    display: block;
    /* justify-content: space-between; */
    margin-top: 0.7rem;
    color: white;
    text-shadow: 1px 1px rgb(0, 0, 0);
}

.bike-buttons {
    text-align: right;
    flex-basis: 25%;
}

.bike-buttons button {
    padding: 0.2rem 0.5rem;
    border: none;
    border-radius: 0.3rem;
    color: white;
    cursor: pointer;
    width: 10em;
    background-color: rgba(73, 72, 72, 0.7);
}


time {
    font-weight: bold;
}

/* aside  */

/* aside {
    width: 29%;
    margin-top: 1em;
    font-size: 0.8em;
}

.aside * {
    margin: 0;
    padding: 0;
}

.aside>div {
    border: 1px solid #999;
    border-radius: 0.3em;
    padding: 0.3em 0.5em;
}

.title {
    font-size: 1.5em;
    border-bottom: none;
}

.aside .aside-theme {
    margin: 1rem 0;
    padding: 0.5rem 0;
}

.aside h3 {
    border-bottom: none;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    background-color:#306085;
    padding-left: 0.5rem;
    color: white;
    text-shadow: 1px 1px rgb(43, 42, 42);
}

.aside-theme+.aside-theme {
    border-top: dashed 1px #999;
}

.aside-theme p {
    text-align: right;
}

.aside-theme a {
    text-decoration: none;
    color: inherit;
} */

/* footer  */

footer {
display: flex;
align-items: center;
justify-content: space-evenly;
background-color:#454b52;
/* background-color: rgba(73, 72, 72, 0.2); */
height:17vh;
color: white;
text-shadow: 1px 1px black;
text-align: center;
}

