/* footer  */

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:#454b52;
    height:17vh;
    color: white;
    text-shadow: 1px 1px black;
    text-align: center;
    }
footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0.3em;
}